*.so
*.o
*.pyc
*~
*.swp
*.pdf
*.zip
*.orig
*.rej
t/*
ID
mwlib.egg-info
build/
trunk
mwlib/*.cc
README.html
docs/*.html
dist/*
bla*
t.py
mwlib/templ/evaluate.c
mwlib/templ/nodes.c
/.tox/
/.ropeproject/
/dist/
__pycache__/
/docs/_build/
/docs/_static/
/docs/_templates/
/junit-*.xml
/.python-version
