.DS_Store
.env
.envrc
.idea/
.mypy_cache
.ruff_cache
/cache
*.so
*.o
*.pyc
*~
*.swp
*.pdf
*.zip
*.orig
*.rej
t/*
/ID
*.egg-info
build/
trunk
mwlib/*.cc
README.html
docs/*.html
dist/*
bla*
t.py
mwlib/templ/evaluate.c
mwlib/templ/nodes.c
mwlib/templ/node.c
/.tox/
/.ropeproject/
/dist/
__pycache__/
/docs/_build/
/docs/_static/
/docs/_templates/
/junit-*.xml
/.python-version
.pytest_cache
venv
mediawiki/extensions
mediawiki/images
mediawiki/math_formulas
Collection-*.tar.gz
LocalSettings.php
cache
notes.txt
launch.json
*.php.bak