include MANIFEST.in
include README.html
include README.rst
include argv.py
include changelog.rst
include conftest.py
include docs/Makefile
include docs/basics.rst
include docs/changelog.rst
include docs/collection.rst
include docs/commands.html
include docs/commands.rst
include docs/conf.py
include docs/configfiles.html
include docs/index.rst
include docs/installation.rst
include docs/internals.rst
include docs/metabook.html
include docs/metabook.rst
include docs/renderserver.rst
include docs/writers.html
include docs/writers.rst
include ez_setup.py
include mwlib/EasyTimeline.pl
include mwlib/__init__.py
include mwlib/_conf.py
include mwlib/_expander.re
include mwlib/_uscan.cc
include mwlib/_uscan.re
include mwlib/_version.py
include mwlib/advtree.py
include mwlib/allnodes.py
include mwlib/apipkg.py
include mwlib/apps/__init__.py
include mwlib/apps/buildzip.py
include mwlib/apps/client.py
include mwlib/apps/make_nuwiki.py
include mwlib/apps/render.py
include mwlib/apps/serve.py
include mwlib/async/__init__.py
include mwlib/authors.py
include mwlib/bookshelf.py
include mwlib/caller.py
include mwlib/cdb.py
include mwlib/cdbwiki.py
include mwlib/client.py
include mwlib/conf.py
include mwlib/dummydb.py
include mwlib/dumpparser.py
include mwlib/expander.py
include mwlib/expr.py
include mwlib/filequeue.py
include mwlib/htmlcolornames.py
include mwlib/imgmap.py
include mwlib/infobox_magic.py
include mwlib/l10n.py
include mwlib/linuxmem.py
include mwlib/log.py
include mwlib/lrucache.py
include mwlib/mathml.py
include mwlib/mathutils.py
include mwlib/metabook.py
include mwlib/myjson.py
include mwlib/net/__init__.py
include mwlib/net/fetch.py
include mwlib/net/sapi.py
include mwlib/nshandling.py
include mwlib/nuwiki.py
include mwlib/odfconf.py
include mwlib/odfstyles.py
include mwlib/odfwriter.py
include mwlib/old_uparser.py
include mwlib/options.py
include mwlib/parse_collection_page.py
include mwlib/parser/__init__.py
include mwlib/parser/nodes.py
include mwlib/parser/styleanalyzer.py
include mwlib/podclient.py
include mwlib/refine/__init__.py
include mwlib/refine/_core.pyx
include mwlib/refine/compat.py
include mwlib/refine/core.py
include mwlib/refine/parse_table.py
include mwlib/refine/tagparser.py
include mwlib/refine/uparser.py
include mwlib/refine/util.py
include mwlib/sanitychecker.py
include mwlib/serve.py
include mwlib/siteinfo/__init__.py
include mwlib/siteinfo/fetch_siteinfo.py
include mwlib/siteinfo/siteinfo-de.json
include mwlib/siteinfo/siteinfo-en.json
include mwlib/siteinfo/siteinfo-es.json
include mwlib/siteinfo/siteinfo-fr.json
include mwlib/siteinfo/siteinfo-it.json
include mwlib/siteinfo/siteinfo-ja.json
include mwlib/siteinfo/siteinfo-nl.json
include mwlib/siteinfo/siteinfo-no.json
include mwlib/siteinfo/siteinfo-pl.json
include mwlib/siteinfo/siteinfo-pt.json
include mwlib/siteinfo/siteinfo-simple.json
include mwlib/siteinfo/siteinfo-sv.json
include mwlib/snippets.py
include mwlib/snippets.txt
include mwlib/status.py
include mwlib/strftime.py
include mwlib/tagext.py
include mwlib/templ/__init__.py
include mwlib/templ/evaluate.py
include mwlib/templ/magic_nodes.py
include mwlib/templ/magic_time.py
include mwlib/templ/magics.py
include mwlib/templ/marks.py
include mwlib/templ/misc.py
include mwlib/templ/mwlocals.py
include mwlib/templ/nodes.py
include mwlib/templ/parser.py
include mwlib/templ/pp.py
include mwlib/templ/scanner.py
include mwlib/timeline.py
include mwlib/treecleaner.py
include mwlib/treecleanerhelper.py
include mwlib/trustedrevs.py
include mwlib/uniq.py
include mwlib/uparser.py
include mwlib/utils.py
include mwlib/utoken.py
include mwlib/wiki.py
include mwlib/writer/__init__.py
include mwlib/writer/fontswitcher.py
include mwlib/writer/formatter.py
include mwlib/writer/imageutils.py
include mwlib/writer/licensechecker.py
include mwlib/writer/miscutils.py
include mwlib/writer/scripts.txt
include mwlib/writer/styleutils.py
include mwlib/writer/wplicenses.csv
include mwlib/writerbase.py
include mwlib/xfail.py
include sandbox/anywikisampler.py
include sandbox/bigswitch.py
include sandbox/citeweb.py
include sandbox/expr.txt
include sandbox/multicoll.py
include sandbox/mw-serve-stresser.py
include sandbox/nserve.py
include sandbox/nslave.py
include sandbox/postman.py
include sandbox/rclient
include sandbox/test_nserve.py
include sandbox/time-expr.py
include sandbox/time-parse.py
include setup.py
include tests/canthus.mb.json
include tests/fribidi-unicode-decode-error.zip
include tests/kolumne.mb.json
include tests/lambda.zip
include tests/memeater.py
include tests/pages-tag-numeric.zip
include tests/pages-tag.zip
include tests/small-object-has-no-attribute-colspan.zip
include tests/speisesalz-nuwiki.zip
include tests/test_advtree.py
include tests/test_authors.py
include tests/test_convert_templates.py
include tests/test_ebad.py
include tests/test_expander.py
include tests/test_expander_parser.py
include tests/test_expander_time.py
include tests/test_expr.py
include tests/test_imgmap.py
include tests/test_math_utils.py
include tests/test_metabook.py
include tests/test_miscutils.py
include tests/test_mwscan.py
include tests/test_nshandling.py
include tests/test_nuwiki.py
include tests/test_odfwriter.py
include tests/test_parse_params.py
include tests/test_parser.py
include tests/test_redirect.py
include tests/test_refine.py
include tests/test_render.py
include tests/test_sanitychecker.py
include tests/test_serve.py
include tests/test_styleanalyzer.py
include tests/test_styleutils.py
include tests/test_table.py
include tests/test_tagext.py
include tests/test_templ_parser.py
include tests/test_templ_pp.py
include tests/test_timeline.py
include tests/test_treecleaner.py
include tests/test_uniq.py
include tests/test_utils.py
include tests/test_writerutils.py
include tests/test_zipwiki.py
include tools/set-interwiki.py
include tox.ini
