apipkg==1.5
bottle==0.12.19
defusedxml==0.7.1
future==0.18.2
gevent==21.1.2
greenlet==1.1.0
lxml==4.6.3
odfpy==1.4.1
Pillow==6.2.2
py==1.10.0
pyparsing==2.4.7
pyPdf==1.13
qserve==0.3.0
roman==3.3
simplejson==3.17.2
sqlite3dbm==0.1.4
timelib==0.2.5
zope.event==4.5.0
zope.interface==5.4.0
