/* ############# misc #################*/
body,  p, li, ul, a {
    margin:0px;
    padding:0px;
}

body {
    background-color:#F4F5E7;
    font-family:arial;
    font-size:10pt;  
}

img {
    border:0;
 }

* { 
 font-size:10pt;
 }

h1, h1 * { 
 font-size:20pt;
 }

h2, h2 * { 
 font-size:14pt;
 }

h3, h3 * { 
 font-size:13pt;
 }

.invisible { 
    display: none;
}

/* ############### base ########### */

* a, * a:hover, * a:visited, * a:active { 
 color:rgb(29,48,161);
 }



#header {
    text-align:right;
    height:74px;
    padding:0px;
    margin:0px;
    table-layout:fixed;
    overflow:hidden;
}

#main_nav {
    padding-top:5px;
    margin-right:20px; 
    height:47px !important;
    /* height:50px !important;         */
    height:54px;  
    /* height:57px; */
}

#main_nav a {
    font-size:10pt;
    font-weight:bold;
    color: black;
    text-decoration:none;
}

#main_nav ul {
    line-height:12pt;
}

#main_nav li {
     display:inline; 
}

#tab_nav { 
  position:absolute;
  /* top:60px !important;
  top:57px;    */

  top:66px !important;
  top:63px;          
  right:30px;
  border:0px;
 }


#errorarea, #busyarea {         
  position:absolute;
  top:40%;
  left:30%;        
  width:40%;
  height:10%;          
  border:2px solid rgb(196,196,196);
  background-color: rgb(255,136,0);
  text-align:center;
 }

head:first-child+body #busyarea { /* this is a hack to prevent IE to read this*/
   position:fixed;
 }

#busyarea { 
  /* background-color:#F4F5E7; */
  background-color:white;               
 }

#errorarea { 
  background-color: rgb(255,136,0);
 }

a#errorclose { 
  color:black;  
  font-weight:bold;               
 }

/* ######### misc table formatting ################*/

/*
#managebook table { 
  padding:0px;
  margin:0px;
  border-collapse:collapse;
  border-spacing:0px;                    
 }
*/

.roundbox, .roundbox tr, .roundbox td, .roundbox img, .clean, #tab_nav img, .snippet img {
  padding:0px;
  margin:0px;
  border:0px;
  border-collapse:collapse;
  border-spacing:0px;
  /* border-style:hidden; */
}

.tablefull { 
  margin:0px;
  border:0px;
  border-spacing:0px;
  width:100%;   
  padding:5px;           
}

/*
.roundbox td {
  background-color:white;
}
*/

.roundboxContent { 
 background-color:white;
 }

/* ################## managebook   ################## */

#book_nav {
    line-height:16pt;
    font-size:10pt;
}

#book_nav input {
    margin:0px;
    vertical-align:bottom;
    font-size:10pt;
    width:220px;
}

 .link {
    color:black;
    margin-right:15px;
}
#book_nav img {
    border:0px;
    padding:0px;
    margin:0px;
    margin-left:10px;
    margin-right:10px;
    vertical-align:bottom;
}
.info li { 
  list-style-type:square;           
}

#info li { 
  list-style-type:square;                   
  margin-left:35px;
}

#info h2 { 
 margin:10px;
 margin-top:15px;
 }

#info h2 a { 
 color:black;
 }

#info h3 { 
 margin-bottom:5px;
 }

#info p { 
 margin:10px;
 }

#tab_nav .info {               
  border:1px solid rgb(128,128,128);
  font-size:8pt;
  padding-left:20px;                 
}

.no_list_style li{ 
 list-style-type:none !important;
}

#info h3 { 
 margin-left:10px;
 }

/* ################## main ################### */

#main {
    margin-top:0px;
    margin-right:0px;        
}

#main_content {
    padding-left:10px;
    padding-right:0px;
    padding-top:5px;
}

#fromsearch { 
 margin-right:350px;
 margin-bottom:10px;
 margin-left:10px;
 /* background-color: rgb(200, 220, 255); */
 background-color:rgb(240,240,240);
 border:2px solid rgb(251,88,33);
 padding:5px;
 }          

#wikipagecontent { 
   padding: 0px 10px;
 }

#add_pages {
    float:right;           
    margin:0px;
    background-color:white;
    border:0px;
}

#add_pages img {
    border:0px;
    margin:5px 10px;                             
}

/* ********************   wikipedia article formatting           ******************* */

#main {
	font-family: "Trebuchet MS", Trebuchet, Verdana, sans-serif;
    	/* font-family: Palatino Linotype, Book Antiqua, Palatino; */
	font-size:10pt;
        overflow:hidden;
}

#main h1 {
	font-size:20pt;	
	margin-bottom:30px;
	margin-right:10px;
	border-bottom:1px solid rgb(128,128,128);
}

#main h2 {
	z-index:-1;
	font-size:14pt;
	margin-right:20px;
	border-bottom:1px solid rgb(128,128,128);
}

#main h3 {
	margin-top:10px;
	margin-bottom:5px;
	font-size:13pt;
}


#main p {
	margin-top:5px;
}

#main a {
	text-decoration:none;
}

#main a:hover {
	text-decoration:underline;
}

#main ul {
  margin: 5px 15px;
}
#main ul li {
  list-style-type:square;
  margin-left:20px;   
}


#main table {
 empty-cells:show;              
 background-color:white;
 margin:10px;
}



#main th { 
  font-weight:bold;
 }


#main .deadlink, #main .deadlink:hover { 
 text-decoration:none;
 color:black;
 }


#main .infobox { 
 float:right;
 border:1px solid grey;
 padding:2px;
 }

#main .infobox td { 
 padding:2px 4px;
 }

#main .bordered { 
 border-collapse:collapse;
 }

#main .bordered td { 
  border:1px solid grey;                     
 }

#main .borderless *, #main .borderless { 
 border:0 !important;
 }


#main .infobox * { 
 font-size: 8pt;
 }

#main sub, #main sup { 
 font-size: 8pt;
 margin-right:3px;                   
 }


#main .small * { 
 font-size:8pt;
 }


.border {
	border:1px solid rgb(128,128,128);
	border-collapse:collapse;
}

.image {
	margin:10px;			
	padding:2px;
	border:1px solid rgb(128,128,128);
	background:white;
}

.clear { 
 clear:both;
 }

.right {
 clear:right;
 float:right;
}

/*
.right + .right { 
 clear:right;
 }
*/

.left {
 clear:left;
 float:left;
}

/*
.left + .left { 
 clear:left;
 }
*/

#main .formula { 
 vertical-align:middle;
 }


.imagecaption {
  display:block;
  font-size:8pt;
  padding:2px;
}

.imagecaption *{
  font-size:8pt;
}

/* .wikitable, .wikitable tr, */

.wikitable {
 border-collapse:collapse;
}

.wikitable td { 
  border:1px solid black;
  border-spacing:0px;
  padding:0px 2px;
 }

.toccolours { 
  border:1px solid black;
 }


/* ###### misc...  ##### */

.addButton img { 
  width:12px;
  height:12px; 
  border:0;        
  margin-right:10px;
 }

.addButton div { 
  margin-right:10px;   
  width:12px;
  display:inline;                 
 }


.addButton a { 
 margin-left:0px;
 }


/* ############## pagelist ####################### */

#pagelist { 
  padding:10px;
 }

#collTitle { 
  /* margin-left:10px; */
  font-size:12pt;
  font-weight:bold;
  border-bottom:1px solid rgb(128,128,128);
 }

#collEditTable { 
  margin:10px 0px;
 }

.box_content { 
  margin:10px 0px;
  font-size:9pt;
}

#collInfo { 
  margin-top:10px;
  font-size:10pt;            
 }

.del_col { 
  /* width:2em; */
 width:21px;
 padding:0px 2px;            
 }

.priceInfo {  
  margin-bottom:10px;             
  font-size:8pt;  
 }

#collNumPages {  
  margin-top:10px; 
}

#collNumPages, #collPrice { 
  font-weight:bold;                
 }

#clearbook { 
  margin-top:10px;             
 }


div.uitable table{
    border-collapse: collapse;
    /* border:1px solid rgb(196,196,196); */      
    cursor:pointer;                  
}

div.uitable table tbody tr { 
  padding:3px;
  margin:3px;                             
}

/*
div.uitable table tbody tr.ui_hover td{
    background-color:#BACFE4;   
}
*/

div.uitable table tbody tr.ui_active td {
    /* background-color:#F4F5E7;  */
    font-weight:bold;     
                                              
}

div.uitable td { 
 padding:0px 2px;
 }

div.uitable td:hover { 
 text-decoration:underline;
 background-color:#BACFE4;   
 }


/* ############################# index.html ########################### */

#home_left, #home_right { 
  padding:0px 10px;                              
 }

#home_right span { 
 /* font-style:italic; */
 border-bottom:1px solid rgb(128,128,128);
 
}

#home_right .heading { 
 width:450px;
 border-bottom:1px solid rgb(128,128,128);
 }


#home_right li { 
  margin-left:20px;
  font-style:normal;    
  font-weight:  normal;        
 }

#home_left p, #home_right p { 
  margin:0px 0px;
 }

#home_right h1 { 
  font-size:14pt;
  /* color:rgb(64,64,64);  */
  color:rgb(32,32,32);   
  margin-right:15px;  
  margin-top:0px;
  text-decoration:underline;
 }

#home_right h2 { 
  font-size:14pt;
  color:rgb(64,64,64);
  color:rgb(32,32,32); 
  margin-right:15px;  
  display:inline;                 
 }

#home_right ul { 
  margin-bottom:10px;
  list-style-type:square;                 
 }


#home_left h2 { 
  font-size:14pt;
  color:rgb(64,64,64);  
  color:rgb(32,32,32);
  margin-top:5px;
  margin-bottom:5px;
 }

#home_left li { 
  list-style-type:none;
  margin-bottom:5px;
  margin-left:0px;
  padding-left:0px;
 }

#home_left .title { 
  font-weight:bold;
  font-style:italic;
 }

#home_left td { 
 padding:3px 2px;           
 }



#finish_book { 
 line-height:18pt;         
 }

#finish_book .label { 
 font-weight:bold;
 vertical-align:bottom;
 text-align:right;
 padding-right:5px;
 }

#finish_book .input { 
 vertical-align:bottom;
 text-align:left;
 padding-left:5px;
 }

#finish_book input { 
 padding: 0px 5px;
 margin:2px 0px;
 width:400px;                     
 }

#booktitle {  
  font-size:14pt;
}

#bookeditor { 
  font-size:12pt;
 }


#finish_book table { 
 margin-bottom:5px; 
}

#wp_footer { 
 clear:both;
 float:right;
 margin-top:10px;
 margin-bottom:10px;
 padding:5px;
 /* border:2px solid rgb(230,230,230); */
 border:2px solid rgb(251,88,33);
 background-color:rgb(240,240,240);
 }

/* ++++++++++++++++++ order ++++++++++++++ */

#order_pay h2 { 
  margin-top:0px;
 }

#order_content h2, #order_content h3, #showbook_content h2, #showbook_content h3 {  
 margin:5px 0px;
 }

#order_content h3, #showbook_content h3 { 
 margin-top:15px;
 }


#order_content li, #showbook_content li  { 
  margin-right:10px;
  list-style-type:none;
  border-bottom:1px dotted grey;
 }

#order_content, #order_pay, #showbook_content { 
 margin:10px;
 }

#order_content a, #showbook_content a { 
 text-decoration:none;
 }

#order_content a:hover, #showbook_content a:hover { 
 text-decoration:underline;
 }

#cost .label, #ship .label, #contact_form .label { 
 text-align:right;
 vertical-align:top;
 }
#cost .value #ship .value, #contact_form .value { 
 text-align:left;
 }

#cost td, #ship td, #contact_form td { 
 padding:2px 5px;
 }

#cost  { 
 border:1px solid grey;
 }

#ship input, #ship textarea, #ship select { 
 width:250px;
 }

#terms_ok { 
 margin-left:10px;
 }

#terms_ok input { 
 margin-left:0px;

 }

#contact_form input, #contact_form select { 
 width: 250px;                                                                    
 }

 #contact_form textarea { 
 width:400px;
 }

#contact h2 { 
 margin-top:0px;
 }


.tooltip {
 background-color: rgb(255, 250, 200);
 border: 1px solid black;
 position: absolute;
 z-index: 10000;
 width: 200px;
 padding:2px;
 text-align:center;           
}

.snippet {
 background-color: rgb(200, 220, 255);
 border: 1px solid black;
 padding: 5px;
 z-index: 10000;
 position: absolute;
 font-size: 10px;
}

#snippetid, #snippetid * { 
 font-size: 10pt;
 font-style:normal;
 font-weight:normal;                                
}

#snippetid em { 
 font-style:italic;
 }

#snippetid strong { 
 font-weight:bold;
 }


.hasborder { 
 border: 2px solid rgb(220,220,220);
}

.noborder { 
 border-width: 0px;
 border: 2px solid white;     
}

.greyedout {
 color: rgb(127, 127, 127);
}

.notgreyedout {
 color: black;
}

#terms dt { 
 margin-top:10px;
 font-weight:bold;           
 }

#terms .toc li { 
 margin-left:15px;
 list-style-type:none;            
 }

#terms p { 
 margin-top:10px;

 }


#terms p, #terms dt, #terms dd, #terms li, #terms a, #terms strong{ 
 font-size:8pt;
 }

#terms h2, #terms h2 a { 
 font-size:12pt;
 color:black;
 }

#terms h3 { 
 font-size:10pt;
 }

#terms li { 
 list-style-type:square;
 }

#refreshproposals { 
 padding:5px;
 margin:5px;
 margin-right:0px;
 }


.site_link { 
  border-bottom:1px dotted black;
  color:black;             
  text-decoration:none;
}

.site_link:hover { 
  text-decoration:none !important;
 }


.topcats, .topcats * { 
  font-weight:bold;
  list-style-type:none !important;
  margin:0px;
  padding:0px;    
  font-size:12pt;
  border-bottom:1px solid rgb(128,128,128);                       
  margin-top:5px;       
 }

.topcats {
  margin-right:5px;
}

.subcats { 
 margin-right:0px;
 }


#preview { 
 margin:10px;
 }

#preview h1 { 
 margin-top:0px;
 margin-bottom:10px;
 }

#adobe_info { 
 float:right;
 width:33%;
 border:1px solid rgb(128,128,128);
 border:1px solid rgb(196,196,196);
 margin:10px;
 margin-right:0px;
 margin-top:0px;
 padding:5px;

 }

#generating { 
 margin:0px;
 }

#finished p {
 margin-bottom:10px;
  }

#affiliate { 
 padding:5px;
 padding-top:0px;             
 }
#affiliate p{ 
 margin-bottom:10px;
 }

#affiliate li { 
 list-style-type:square;
 margin-left:25px;                
 }
#affiliate ul { 
 margin-bottom:10px;
}

#affiliatetable td{ 
  padding:10px;
 }

#affiliatetable li { 
  list-style-type:none;
 }

#affiliatetable input { 
  margin-left:0px;
 }

.affiliatebox { 
  float:left;
  width:45%;
  margin:10px;
  /* padding:10px; */
  /* border:2px solid rgb(210,210,210); */
  /* border:2px solid rgb(251,88,33); */             
 }

.affiliateboxcontent { 
 margin:10px;
 }

.affiliatebox h2 { 
  margin:0px;
  margin-bottom:10px;
 }

.affiliatebox ul li { 
 list-style-type:square;
 margin-left:15px;                
 }

.affiliatebox .nobullets li { 
  list-style-type:none; 
  margin-left:0px;                              
 }



#welcome { 
 padding:10px;
 padding-top:5px;
 margin:0px;
 }

#welcome h1 { 
 margin:0px;
 margin-bottom:10px; 
 font-size:16pt;
 color:rgb(32,32,32); 
 }


#home_howto td{ 
  padding:5px;    
  vertical-align:top;            
 }

#home_howto .step_num { 
 font-size:20pt;
 color:rgb(128,128,128);    
 float:left;     
 margin:5px;                        
 }

#home_howto li { 
 list-style-type:square;
 margin-left:20px;
 }

#news .newsitem { 
 margin: 10px;
 max-width:500px;
 }

#news .newsitem h3 { 
 font-size:12pt;
 margin-bottom:5px;
 margin-top:10px;
 }

.newsitem + .newsitem { 
 border-top:1px dotted rgb(128,128,128);
 }

#news .date { 
 float:right;
 margin-top:5px;
 margin-left:10px;
 font-size:8pt;
 }

.deadlink {
 color:black;
}

.smalltext, .smalltext em, .smalltext * { 
 font-size:8pt !important;
 }

.template_warningsmart { 
  border:3px solid red;
}
.template_warningmanual{ 
 border:3px solid orange;
 }

.template_warningsmart * { 
 background-color:rgb(210,210,210);
 }

.template_warningmanual * { 
 background-color:rgb(230,230,230);
 }


 #startcats  { 
 padding:5px;
 }

 #startcats h2,  #startcats h3 { 
 margin:5px 0px;
 }

#startcats .topcats { 
 margin-bottom:5px;
}

#startcats .topcats *, #startcats .subcats * { 
 text-decoration:none;
 }

#startcats .topcats a { 
 border-bottom:0;
 }

.startcatbox { 
 width:30%;
 float:left;
 padding:10px; 
 padding-bottom:0px;
 }

.startcatbox h3 { 
 border-bottom:1px solid rgb(128,128,128);
 }


#lowpagecount, #highpagecount { 
 margin:10px 0px;
 padding:10px;                
 border:2px solid rgb(251,88,33);
 background-color:rgb(240,240,240);
 }

#highpagecount { 
 margin-left:10px;
 }


#examplebook { 
 padding:10px;
 }

#examplebook li { 
 list-style-type: none;
 text-align:center;
 margin-bottom:5px;
 }

#examplebook .book_img img { 
 border:1px dotted rgb(128,128,128);
 padding:2px;
 }

#examplebook .info { 
 float:right;
 border:1px dotted rgb(128,128,128);
 padding:5px;
 }

#examplebook .navigation { 
 position:absolute;
 margin:15px 0px;
 border:1px dotted rgb(128,128,128);
 padding:5px 15px;
 }

#examplebook .navigation li { 
 text-align:left;
 }

#examplebook .navigation a { 
 text-decoration:none;
 }

#examplebook .navigation a:hover { 
 text-decoration:underline;
 }






/* ######## pssearch */ 
	 


.pssnippet strong { 
 font-weight:normal;
 }

.pssnippet li { 
 margin-left:15px;
 }

.pssnippethl {
  background-color: rgb(196, 224, 255);
}


#pssearch a {  
 color:rgb(28,53,110); 
 } 

/* 
#pssearch li {  
 margin-bottom:10px; 
 list-style-type:square; 
 } 
*/ 
	 
li.result {  
 margin-bottom:10px; 
 list-style-type:square; 
 } 
	 
#pssearch .details, #pssearch .details * {  
 font-size:8pt; 
 } 

.marginbox {  
 padding:5px 10px; 
 } 
 
#searchresultlist .result { 
 margin: 0px 5px;                            
 padding: 8px 0px; 
 list-style-type:none; 
 border-bottom:1px dotted rgb(128,128,128);
 /* border-top:1px dotted rgb(128,128,128);*/
 /*background:rgb(245, 250, 250);*/
}

/*
.alternate {
  background: rgb(234, 238, 245);
}
*/

.clustered {
  margin-left: 40px;
}

.resultdetails * { 
 text-align:middle;
 } 

/* display styles for snippets search result snippet*/ 
.pssnippet hr {  
 display:none; 
} 

.pssnippet li {  
 margin-left:15px; 
} 

/* end filter */ 

#categories li {  
 list-style-type: none;
} 

#categories h2 {  
 margin:0px; 
 font-size: 12pt;
 } 

#categories a:hover {  
 background-color:rgb(1,160,199); 
 color:white; 
 text-decoration:none; 
} 
	 	 
#pssearch .subcats {  
 margin-bottom:0px; 
 margin-left:15px; 
 list-style-type:none; 
} 
 	 
#searchselection {  
 margin-left:10px; 
 vertical-align:middle; 
} 

#searchselection input {  
 color:green; 
 margin-left:10px; 
 margin-right:5px; 
 vertical-align:middle; 
} 
 	 
.searchresulturl {
    color: rgb(0, 96, 120); 
}
	 
.psformat {  
 font-size: 8pt; 
}
 
.psrf {
 float: right;
}

.pscategorylink, .psarticlelink {
  white-space: nowrap;
}

.matchedcategories {
  border: 1px dotted grey;
  /*background-color: rgb(245, 245, 245);*/
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 15px;
  padding: 4px;
}

